modules = ["nodejs-24"]

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 5001
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PUBLIC_APP_URL=http://127.0.0.1:5000 CORS_ORIGINS=http://127.0.0.1:5000 npm run dev"
waitForPort = 5000
